@import './../../index.module';

.overlay {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}

.menu {
  min-width: 360px;
  min-height: 100vh;
  background-color: #fff;
  padding-inline: 30px;
  box-shadow: 4px 5px 19px 11px rgba(0, 0, 0, 0.04);
  border-radius: 0 30px 30px 0;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
}

.properties {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 8px;
  row-gap: 6px;
}
