@import './../../index.module';

.type {
  background: rgba(72, 67, 92, 0.07);
  border-radius: $border-radius;
  min-height: 105px;
  padding-block: 7px;
  composes: flexCenter flexColumn from global;
  justify-content: space-evenly;
}

.title {
  margin-bottom: 0;
  font-family: "Oxygen", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0;
  padding-top: 5px;
}
