@import './../../index.module.scss';

.container {
  display: grid;
  grid-template-columns: 55% 45%;
  min-height: calc(100vh - 90px);
}

.containerFilter {
  composes: flexColumn from global;
  display: flex;
  width: 100%;
  max-width: 100%;
  padding-inline: 20px;
}

.containerOverflow {
  padding: 10px;
  padding-bottom: 30px;
  max-height: 65vh;
  display: flex;
  gap: 16px;
  composes: flexColumn from global;

  &[data-grid="true"] {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 10px));
    grid-template-rows: auto;
  }
}

.overflow {
  height: 100%;
}
