@import './../../index.module.scss';

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 740px;
  box-shadow: $shadow-card;
  border-radius: $border-radius;
}
.cardHeader {
  position: relative;
  width: 100%;
  flex-basis: 54%;
  min-height: 305px;
  padding: 16px;
}
.slide {
  composes: flexColumn from global;
  justify-content: space-between;
  background: no-repeat 20% 50% / cover url('./../../assets/mock/2.jpg');
  min-height: 305px;
  border-radius: $border-radius;
  padding: 8px;
}
.buttonFavorite {
  composes: flexCenter from global;
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: $border-gray;
  align-self: flex-end;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  &[data-selected='false'] {
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: luminosity;
  }
}
.arrows {
  composes: alignCenter from global;
  justify-content: space-between;
  margin: auto 0;
}
.arrow {
  composes: flexCenter from global;
  height: 35px;
  width: 35px;
  border: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}
.indicators {
  composes: flexCenter from global;
  margin-top: auto;
  & button {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    border: 0;
    background: #c9c9c9;
    margin-right: 7px;
    cursor: pointer;
    &[data-selected='false'] {
      height: 6px;
      width: 6px;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}
.point {
}

.cardFooter {
  composes: flexColumn from global;
  padding: 16px 30px 62px 14px;
}

.options {
  composes: alignCenter from global;
  justify-content: flex-start;
  margin-top: 58px;
}
.option {
  composes: alignCenter from global;
  gap: 20px;
  & span {
    font-family: Oxygen;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
line-height: 23px;
    padding-right: 20px;
  }
}
.newProperty {
  composes: flexCenter from global;
  border-radius: $border-radius;
  background-color: $maximum-blue-purple;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  padding: 4px 23px;
  width: max-content;
  text-transform: uppercase;
  margin: 0 0 auto auto;
}
.information {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  & div {
    margin-top: auto;
  }
}

.title {
  font-size: 20px;
line-height: 25px;
  font-weight: bold;
  color: rgba(72, 67, 92, 0.8);
}

.price {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
line-height: 28px;
  color: $independence-2;
}
.address {
  font-size: 17px;
line-height: 21px;
  color: rgba(72, 67, 92, 0.5);
}
