@import './../../index.module.scss';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 80px;
  padding: 1rem 20px;

  a {
    font-size: 1.8rem;
    position: relative;
    transition: all 0.25s ease-in-out;
  }
}

.nav {
  > ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 1rem;
    }
  }
}

.navLink:hover {
  color: $maximum-blue-purple;
}

%activeSelect::after {
  background-color: $maximum-blue-purple;
  bottom: -1rem;
  content: '';
  display: block;
  height: 4px;
  left: -50%;
  margin: 0 auto;
  position: absolute;
  right: -50%;
  width: 120%;
}

.active {
  @extend %activeSelect;

  color: $maximum-blue-purple;
}

.login {
  composes: flexCenter from global;
}

.button {
  background-color: $light-green;
  border-radius: 10px;
  color: #fff;
  composes: flexCenter from global;
  font-weight: 700;
  margin-left: 1.5rem;
  min-height: 45px;
  transition: all 0.25s ease-in-out;
  width: 110px;

  &:hover {
    opacity: 0.8;
  }
}
