@import '../../../index.module.scss';

.card {
  border-radius: $border-radius;
  box-shadow: $shadow-card;
  composes: flexColumn from global;
  max-width: 360px;
}

.cardHeader {
  min-height: 210px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.slide {
  background: no-repeat 20% 50% / cover url('./../../assets/mock/2.jpg');
  border-radius: $border-radius;
  composes: flexColumn from global;
  justify-content: space-between;
  min-height: 210px;
  padding: 8px;
}

.buttonFavorite {
  align-self: flex-end;
  background-color: #fff;
  border: 0;
  border-radius: 50%;
  box-shadow: $border-gray;
  composes: flexCenter from global;
  cursor: pointer;
  height: 35px;
  transition: all 0.25s ease-in-out;
  width: 35px;

  &[data-selected='false'] {
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: luminosity;
  }
}

.arrows {
  composes: alignCenter from global;
  justify-content: space-between;
  margin: auto 0;
}

.arrow {
  background: rgba(255, 255, 255, 0.8);
  border: 0;
  border-radius: 50%;
  composes: flexCenter from global;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

.indicators {
  composes: flexCenter from global;
  margin-top: auto;

  & button {
    background: #c9c9c9;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    height: 5px;
    margin-right: 7px;
    width: 5px;

    &[data-selected='false'] {
      background: rgba(255, 255, 255, 0.9);
      height: 6px;
      width: 6px;
    }
  }
}

.cardFooter {
  composes: flexColumn from global;
  padding: 20px 30px;
}

.options {
  composes: alignCenter from global;
  justify-content: flex-start;
}

.option {
  composes: alignCenter from global;
  gap: 20px;

  & span {
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
    line-height: 19px;
    padding-right: 20px;
  }
}

.newProperty {
  background-color: $maximum-blue-purple;
  border-radius: $border-radius;
  color: #fff;
  composes: flexCenter from global;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0 0 auto auto;
  padding: 4px 23px;
  text-align: left;
  text-transform: uppercase;
  width: max-content;
}

.information {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.title {
  color: rgba(72, 67, 92, 0.8);
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
}

.price {
  color: $independence-2;
  font-size: 19px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
}

.address {
  color: rgba(72, 67, 92, 0.5);
  font-size: 14px;
  line-height: 18px;
}
